* {
    margin: 0 auto;
}

.container {
    margin: 10px auto;

}

.box-shadow(){
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.03);
}

body {
    background-color: #ebebeb;
}

.item-lista{    
    width: 60%;
    height: 120px;
    background-color: #fcfcfc;
    .box-shadow;
    padding: 8px;
}